<div id="<%= dom_id feed %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= feed.title %>
  </p>

  <p>
    <strong>Fetch url:</strong>
    <%= feed.fetch_url %>
  </p>

  <p>
    <strong>Homepage url:</strong>
    <%= feed.homepage_url %>
  </p>

  <p>
    <%= link_to "Show this feed", feed %>
  </p>
</div>
