<div id="<%= dom_id feed %>" class="scaffold_record mb-4 border-2 relative">
  <h3>
    <%= link_to feed.title, feed, class: "font-extrabold" %>
    (<%= feed.homepage_url %>)
  </h3>

  <%= feed.entries_count %> Articles

  <%= button_to "Refresh", refresh_feed_path(feed) %>
  <%= button_to "Edit", edit_feed_path(feed) %>
  <%= button_to "Delete", feed_path(feed), method: :delete, data: { confirm: "Are you sure you want to remove #{feed.title}?" } %>
</div>
