<div class="p-4 my-4 border-2">
  <div class="mb-4">
    <%= link_to entry.url, class: "text-3xl focus:text-black font-extrabold mt-2 block" do %>
      <%= entry.pretty_title %>
    <% end %>
    <div>
      From <%= link_to entry.feed.title, entry.feed %>
    </div>
  </div>
  <article class="prose lg:prose-xl">
    <% if entry.youtube? %>
      <%= render "entries/youtube", entry: entry %>
    <% else %>
      <%= FeedEntryRenderer.new(entry).to_html %>
    <% end %>
  </article>
</div>
