<!DOCTYPE html>
<html class="antialiased bg-white">
  <head>
    <title>Jokerss</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="max-w-screen-lg mx-auto">
      <nav class="mb-6">
        <%= link_to "Timeline", timeline_feeds_path, class: "font-bold" %> |
        <%= link_to "All Feeds", feeds_path, class: "font-bold" %> |
        <%= link_to "Refresh all", refresh_feeds_path, class: "font-bold", method: :post %>
      </nav>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
